<div class="container">
  <div class="row">
    <h2>About Us</h2>
    <p>
      We at Mob Reviews give you, the consumer, a space to express yourselves and evaluate restaurants through reviews and ratings.
    </p>
  </div>
</div>
