<div class="col-md-10 col-md-offset-1">
  <h2>About Us</h2>
  <p>
    We at Mob Reviews give you, the consumer, a space to express yourselves and evaluate restaurants through reviews and ratings.
  </p>
</div>
