<nav>
  <div class="nav-wrapper">
    <a class='navbar-brand' href='/'><span class="glyphicon glyphicon-cutlery"></span>Mob Review</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
      <li>{{#link-to '#'}}Washington{{/link-to}}</li>
      <li>{{#link-to '#'}}Oregon{{/link-to}}</li>
      <li>{{#link-to '#'}}Admin Access{{/link-to}}</li>
      <!-- <li>{{#link-to 'favorites'}}Favorites <span class="glyphicon glyphicon-heart"></span> {{favorite-count class="inline"}}{{/link-to}}</li> -->
    </ul>
  </div>
</nav>

  {{outlet}}
