<div class="front-img">
  <img class="img-responsive" src="http://theboomermagazine.com/downloads/1323/download/restaurant-food-01.jpg?cb=451fffb1dce061bc1bc48e3485240c77" alt="fine Dining" />
</div>
