<div class="col-md-10 col-md-offset-1">
  {{restaurant-detail restaurant= model}}
  <hr>
  <div class="row">
    {{new-review restaurant=model saveReview="saveReview"}}
  </div>
  <div class="row">
    <h1>Reviews</h1>
    {{#each model.reviews as |review|}}
      {{review-tile review=review deleteReview="deleteReview"}}
    {{/each}}
  </div>
</div>
